.tabs{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 250px;
  margin-bottom: -5px;
}

.tab{
  margin: 5px;
  border: 1px ;
  background-color: white;
  padding: 6px;
  /* transition-delay: 0.3s; */
  cursor: pointer;
}

.tab:hover{
  background-color: rgb(154, 226, 19);
  opacity: 0.5;
}

body{
  background-color: #F0F0F0;
}
