body{
  background-color: #F0F0F0;
}

.tabs{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 250px;
  margin-bottom: -5px;
}

.tab{
  margin: 5px;
  border: 1px ;
  background-color: white;
  padding: 6px;
  /* transition-delay: 0.3s; */
  cursor: pointer;
}

/* .tab:hover{
  background-color: rgb(87, 87, 184);
} */

.active-tab{
  background-color: rgb(87, 87, 184);
  color: white;
}

.no-movies{
  margin-left: 255px;
  margin-top: 10px;
  color: grey;

}

