
.movie-card{
    width: 60%;
    height: auto;
    margin-left: 255px;
    margin-bottom: 20px;
    display: inline-flex;
    background-color: white;
}

.left{
    height: inherit;
    width: 20%;
    border: 1px solid;
}

@media(max-width: 1000px){
    .left{
        width: 60%;
    }
}

.left img{
    width: 100%;
    height: 100%;
}

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: 5px;
    padding-right: 10px;
    height: inherit;
}

/* right container children */
.title{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 25px;
    margin-right: 25px;
}

.plot{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
}

/* footer element */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.rating{
    font-weight: 700;
}

.favourite-btn{
    margin-right: 10px;
    background-color: rgb(87, 87, 184);
    color: white;
    border-color: black;
}

.Unfavourite-btn{
    margin-right: 10px;
    background-color: red;
    color: white;
}



