.navbar{
    width: 100%;
    background-color: black;
    height: 3rem;
    position: relative;
}

.search-container{
    position: absolute;
    left: 50%;
    margin-left: -210px;
    top: 50%;
    margin-top: -12px;
}

.search-container input{
    width: 400px;
}

#search-button{
    background-color: orange;
    margin-left: -10px;
}

